.media {
  display: flex;
  align-items: flex-start;
  width: 400px;
  background: skyblue;
}

.media .figure {
  margin: 1em;
}

.media .body {
  flex: 1;
}

.next-page .media {
    background: red;
}