/* structure */
.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin: 1em;
}

.media-body {
  flex: 1;
}

/* visual */
.media-default {
  background: skyblue;
  width: 400px;  
}

.media-special-offer {
  background: red;
  width: 400px;
}